<h3>This awesome product.</h3>

<h3><%= @product.name %></h3>
<p><%= @product.description %></p>

<div id="map-canvas"></div>

<%= button_to "Add to cart", line_items_path(product_id: @product), class: "btn" %>

<%= javascript_tag do %>
latitude = '<%= j @product.latitude.to_s %>';
longitude = '<%= j @product.longitude.to_s %>';
title = '<%= j @product.name %>';
<% end %>
