<h3>This awesome product.</h3>


    <h3><%= @product.name %></h3>
    <p><%= @product.description %></p>



<br /><br /><br />

<div class="row">
  <div class="col s12 m7">
    <div class="card blue lighten-4">
      <div class="card-image">
        <!-- Product image tag goes here -->
        <span class="card-title"><%= @product.name %></span>
      </div>
      <div class="card-content">
        <p><%= @product.description %></p>
      </div>
      <div class="card-action">
        <a href="#">Buy</a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12 m7">
    <div id="map-canvas"></div>

  </div>
</row>

<div id="map-canvas"></div>



<%= javascript_tag do %>
latitude = '<%= j @product.latitude.to_s %>';
longitude = '<%= j @product.longitude.to_s %>';
title = '<%= j @product.name %>';
<% end %>
